<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentr</title>
   <script src="https://kit.fontawesome.com/e762c94c99.js" crossorigin="anonymous"></script>
   <script src="/static/main.js"></script>
    <link rel="stylesheet" href="/static/Dashboard.css">


     
</head>
<body>
    <div class="container">
        <nav>
            <div class="sidebar">
                <div class="logo">
                    <img src="/static/Logo.svg" alt="">
                    <span class="title">RENTR</span>
                </div>
                <div class="menu">
                    <div class="menu-item" data-section="contact">
                        <i class="fa-regular fa-envelope"></i>
                        <span>Contact</span>
                    </div>
                    <div class="menu-item active-menu-item" data-section="vehicles">
                        <i class="fa-solid fa-house"></i>
                        <span>Dashboard</span>
                    </div>
                    <div class="menu-item" data-section="history">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <span>History</span>
                    </div>
                    <div class="menu-item">
                        <i class="fa-regular fa-circle-question"></i>
                    </div>
                    <div class="menu-item">
                        <i class="fa-light fa-gear"></i>
                    </div>
                </div>
            </div>
            <div class="navcontent">
                <ul>
                    <li><a href="{% url "home" %}">Home</a></li>
                    <li><a href="{% url "features" %}">Features</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
                <div class="icons">
                    <div class="notification">
                        <i class="far fa-bell"></i>
                        <span class="notification-badge">3</span>
                    </div>
                    <div class="user">
                        <i class="fas fa-user"></i>
                        <div class="user-polygon"></div>
                        <div class="dropdown-content" id="dropdown-content">
                            <a href="{% url 'logout' %}" class="btn">Logout</a>

                    </div>
                </div>
            </div>
        </nav>
        <div id="dashboard-content">

            
        </div>
    </div>
      

    

</body>
</html>

