{% comment %} <nav>
    <div class="sidebar">
        <div class="logo">
            <img src="/static/Logo.svg" alt="">
            <span class="title">RENTR</span>
        </div>
        <div class="menu">
            <div class="menu-item" data-section="contact">
                <a href="{% url 'contact' %}">
                    <i class="fa-regular fa-envelope"></i>
                    <span>Contact</span>
                </a>
            </div>
            <div class="menu-item active-menu-item" data-section="vehicles">
                <a href="{% url 'vehicle_list' %}">
                    <i class="fa-solid fa-house"></i>
                    <span>Dashboard</span>
                </a>
            </div>
            <div class="menu-item" data-section="history">
                <a href="{% url 'history' %}">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span>History</span>
                </a>
            </div>
            <div class="menu-item">
                <i class="fa-regular fa-circle-question"></i>
            </div>
            <div class="menu-item">
                <i class="fa-light fa-gear"></i>
            </div>
        </div>
    </div>
    <div class="navcontent">
        <ul>
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "features" %}">Features</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
        <div class="icons">
            <div class="notification">
                <i class="far fa-bell"></i>
                <span class="notification-badge">3</span>
            </div>
            <div class="user">
                <i class="fas fa-user"></i>
                <div class="user-polygon"></div>
                <div class="dropdown-content" id="dropdown-content">
                    <a href="{% url 'logout' %}" class="btn">Logout</a>

            </div>
        </div>
    </div>
</nav> {% endcomment %}


{% load static %}

<nav>
    <div class="sidebar">
        <div class="logo">
            <img src="{% static 'Logo.svg' %}" alt="">
            <span class="title">RENTR</span>
        </div>
        <div class="menu">
            <div class="menu-item {% if request.path == '/contact/' %}active-menu-item{% endif %}" data-section="contact">
                <a href="{% url 'contact' %}">
                    <i class="fa-regular fa-envelope"></i>
                    <span>Contact</span>
                </a>
            </div>
            <div class="menu-item {% if request.path == '/vehicles/' %}active-menu-item{% endif %}" data-section="vehicles">
                <a href="{% url 'vehicle_list' %}">
                    <i class="fa-solid fa-house"></i>
                    <span>Dashboard</span>
                </a>
            </div>
            <div class="menu-item {% if request.path == '/history/' %}active-menu-item{% endif %}" data-section="history">
                <a href="{% url 'history' %}">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span>History</span>
                </a>
            </div>
            <div class="menu-item">
                <i class="fa-regular fa-circle-question"></i>
            </div>
            <div class="menu-item">
                <i class="fa-light fa-gear"></i>
            </div>
        </div>
    </div>
    <div class="navcontent">
        <ul>
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "features" %}">Features</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
        <div class="icons">
            <div class="notification">
                <i class="far fa-bell"></i>
                <span class="notification-badge">3</span>
            </div>
            <div class="user">
                <i class="fas fa-user"></i>
                <div class="user-polygon"></div>
                <div class="dropdown-content" id="dropdown-content">
                    <a href="{% url 'logout' %}" class="btn">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
