@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: 'Ethnocentric';
    src: url('../static/ethnocentric.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'The Bold Font';
    src: url('../static/THEBOLDFONT.otf');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    background: var(--Main-Background, linear-gradient(117deg, #9BAFD9 0%, #FFF 35.76%, #FFF 68.1%, #416CBF 100%));
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.navbar{
    padding: 20px 70px;
    color: #103783;
    font-family: Allerta;
    font-size: 17px;
    font-weight: 400;

    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.title{
    color: #103783;
    font-family: Ethnocentric;
    font-size: 23px;
}

.logoTitle{
    font-size: 48px;
}

.mainTitle{
    color: #000;
    font-family: "The Bold Font";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.small{
    color: #000;
font-family: "The Bold Font";
font-size: 34px;
}

.logo img{
    width: 152px;
    transform: translateY(3px);
}

.navigation{

    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}

.buttons{
    display: flex;
    width: 230px;
    justify-content: space-evenly;
    align-items: center;
}

a{
    color: inherit;
    text-decoration: none;
}

.signup{
    width: fit-content;
    height: 40px;
    padding: 0px 25px;
    color: #FFF;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-family: Allerta;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    border-radius: 5px;
    background: #103783;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset; */
}

hr{
    border-style: none;
    width: 510px;
    height: 3px;
    background: rgba(155, 175, 217, 0.95);
}

.subtitle{
    font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.main{
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.left{
    display: flex;
    flex-direction: column;
    /* height: 40vh; */
    column-gap: 1.5rem;
    justify-content: space-evenly;
}

.left p, .left hr{
    margin-bottom: 1.5rem;
}

.right{
    display: flex;
    flex-direction: column;
}

.dashboardImg{
    width: 42vw;
    border-radius: 8px;
    align-self: center;
}

button:hover{
    background: #0D2D6B;
}

button:active{
    background: #9BAFD9F2;
}

.navigation a:hover, .buttons a:hover{
    font-size: 20px;
    
}

.group{
    display: flex;
    width: 30vw;
    justify-content: space-between;
    flex-shrink: 0;
    height: max-content;
    padding: 1rem 0;
}

.grouptext{
    width: 25vw;
}

.grouptitle{
    color: #103783;

    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.groupsubtitle{
    font-size: 0.8rem;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;


    border-radius: 8px;
    background: #103783;
    box-shadow: 0px 3px 50px 0px rgba(64, 138, 126, 0.10);

    color: #FFF;
    font-family: The Bold Font;
    font-size: 1.2rem;

}

